<div class="table-container">
<table class="table">
    <thead class="table-head">
        <tr class="table-head__row">
            @for (head of tableHead; track head.id) {
            <td class="table-head__col">{{head.label}}
                @if (head.withIcon) {
                <fa-icon [icon]="faCircleInfo"></fa-icon>
                }
            </td>
            }
        </tr>
    </thead>
    <tbody>
        @for (product of products; track $index) {
            <tr class="table-body__row">
                <td class="table-body__col">
                    <app-product-image alt={{product.name}} imageUrl={{product.logo}} />
                </td>
                <td class="table-body__col">
                    {{product.name}}
                </td>
                <td class="table-body__col">
                    {{product.description}}
                </td>
                <td class="table-body__col">
                    {{dateFormat(product.date_release)}}
                </td>
                <td class="table-body__col">
                    {{dateFormat(product.date_revision)}}
                </td>
                <td class="table-body__col">
                    <fa-icon size="1x" [icon]="faEllipsisVeritical"></fa-icon>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="table-options">
    <p>{{products.length}} Resultados</p>
    <select (change)="onChangeSelect($event)" class="table-options__select" name="" id="">
        @for (num of listNumElements; track $index) {
            <option value="{{num}}">{{num}}</option>
        }
    </select>
</div>
</div>