.table {
    border-bottom: 1px solid gray;
    padding: 1rem;
    width: 100%;
    color: var(--primar-text);
}

.table-container {
    background-color: white;
}

.table-head {
    padding: 1rem;
    background-color: var(--primary);
    height: 3rem;
    border-bottom: 5px;
    border-color: var(--primary-text);
}

.table-head__row {
    padding: 1rem 0;
}

.table-head__col {
    text-align: center;
}

.table-body__row {
    border-bottom: 1px solid gray;
}

.table-body__col {
    text-align: center;
}

.table-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.table-options__select {
    width: 50px;
    height: 30px;
}